html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/*barvy:
pozadi stranky: #FAFAFA
nadpisy: #000000
pismo: #8B8B8B
tlacitko dobrodruzstvi: #407BFF
dlazdice: #FFFFFF
stin dlazdic: #407BFF1F */

body {
    margin: 60px 20px;
    background: #fafafa;
    font-family: 'Montserrat', sans-serif;
    color: #8B8B8B;
    text-align: center;
    /*max-width: 500px;*/
}

/*MOBIL */

/*@media screen and (mix-width: 640px) {*/

    .happy-traveller {
        width: 350px;
        height: 290px;
    }

    h1, h2 {
        color: #000000;
    }

    h1 {
        font-size: 28px;
        margin: 40px auto;
    }

    h2 {
        font-size: 16px;
        margin-top: 60px;
        margin-bottom: 17px;
    }

    a {
        font-size: 13px;
    }

    p {
        margin-bottom: 30px;
    }



    .tlacitka {
        margin-top: 30px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tlacitka a {
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
        padding: 10px 30px 10px 30px;
        border-radius: 20px;
    }

    .dobrodruzstvi {
        background-color: #407BFF;
        margin-bottom: 10px;
        max-width: 195px;  
    }

    .pohoda {
        background-color: #8B8B8B;
        max-width: 230px;
    }

    .icon {
        margin-bottom: 15px;
        width: 460px;
        height: 80px;
        border-radius: 10px;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 5px 2px #407BFF1F;
        align-content: center;
        display: flex;
        justify-content:space-evenly;
    }

    .icon img {
        width: 50px;
        height: 40px;
        margin: 20px 20px;  
    }

    .icon a {
        margin: 32px 20px 20px 20px;
    }


/*TABLET*/

@media screen and (min-width: 641px) {
    .happy-traveller {
        width: 400px;
        height: 332px;   
    }
    
    .tlacitka {
        display: inline-block;  
        margin-bottom: 80px; 
    }

    .dobrodruzstvi {
        margin-right: 20px;
    }

    .dlazdice {
        display: flex;
        justify-content: space-evenly;
    }

    .icon {
        /*padding: 40px 20px 80px 20px; */
        width: 230px;
        height: 172px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .icon img {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .icon a {
        flex-direction: column;
    }

}

/*DESKTOP*/

@media screen and (min-width: 1100px) {
    .hlavicka {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin: 0;
    }
  
    .happy-traveller {
        flex: 1;
        margin-left: 60px;
    }
  
    .happy-travels {
        flex: 1;
        text-align: left;
        align-content: flex-start;
    }
  
    .happy-traveller, .happy-travels {
        max-width: 490px;
    }



}
   

      
